#menu {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}

#menu li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}

#menu li a {
   padding: 4px 20px ;
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#menu li a:hover, #menu li a:focus, #menu li a:active {
  background: #900 ;
  text-decoration: underline ;
}

body {
	background-color:#3094B2;
}
#trof {
	
	width: 20%;
	height: 20%;
	margin-left: 65%;
	margin-top: -350px;
}
#score {
		width: 70%;
	height: 70%;
}

.score {
	position:absolute;
	margin-left:70%;
	margin-top:140px;
}

h1 {
	font-family: arial;
	font-size: 25px;
text-align:center;
}

p {
	font-family:Gabriola;
	font-size:25px;
	color:#C4CF54;
}