#menu {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}

#menu li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}

#menu li a {
   padding: 4px 20px ;
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#menu li a:hover, #menu li a:focus, #menu li a:active {
  background: #900 ;
  text-decoration: underline ;
}
body {
	background-image: url("https://i.ytimg.com/vi/AVFjD6m5jP8/maxresdefault.jpg")
}

#total {
	margin-left: 50%;
	margin-top: -320px;
		width: 40%;
		height: 40%;
}

section {
	color:#CCDFE0;
	font-family:Ink Free;
	font-size: 25px;
	margin-top: -167px;
	position:absolute;
}

#yb {
	  list-style: none ;
		margin-right:45px;
		margin-bottom:22px;
		}

#scren2 {
		width: 15%;
		height: 15%;
		margin-left:220px;
}

h1 { 
	text-align:center;
	font-size:25px;
	font-family:Ink Free;
	margin-top: 300px;
    margin-left: 450px;

}
h2 {
	text-align:center;
}

.ma {

	font-size:25px;
	font-family:Ink Free;
	margin-top: -420px;
    margin-left: 650px;
}

#yb:hover {
  background-color:#F1948A  ;
}

h1:hover {
	color:#F1948A;
}
